@model UserViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Member/MemberLayout.cshtml";
}

<h3 class="text-center">Üye Bilgileri</h3>
<div class="row">
    <div class="col-sm-3">
        <img style=" width:100%" src="@Model.Picture" />

    </div>
    <div class="col-sm-9">

        <table class="table table-bordered table-striped table-responsive">
            <tr>
                <th>Kullanıcı ismi</th>
                <td>@Model.UserName</td>
            </tr>
            <tr>
                <th>E-posta</th>
                <td>@Model.Email</td>
            </tr>

            <tr>
                <th>Telefon no</th>
                <td>@Model.PhoneNumber</td>
            </tr>
            <tr>
                <th>Şehir</th>
                <td>
                    @if (Model.City == null)
                    {
                        <span>Belirtilmemiş</span>
                    }
                    else
                    {
                        @Model.City
                    }



                </td>
            </tr>
            <tr>
                <th>Cinsiyet</th>
                <td>@Model.Gender</td>
            </tr>
            <tr>
                <th>Doğum Tarihi</th>
                <td>
                    @if (Model.BirthDay == null)
                    {
                        <span>Belirtilmemiş</span>
                    }
                    else
                    {
                        @Model.BirthDay.Value.ToShortDateString()
                    }


                </td>
            </tr>


        </table>



    </div>

</div>

